In [1]:
# importing the "tarfile" module 
import tarfile 
import pandas as pd
import os

In [2]:
## open file 
#file = tarfile.open('review_polarity.tar.gz') 
# extracting file 
#file.extractall('./Destination_FolderName') 
#file.close() 

  
# create an Empty DataFrame
# object With column names only
df = pd.DataFrame(columns = ['Data', 'Actual'])
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Data    0 non-null      object
 1   Actual  0 non-null      object
dtypes: object(2)
memory usage: 0.0+ bytes

In [3]:

#Positive and negative reviews folder paths 
pos_folder ="./txt_sentoken/pos"
neg_folder ='./txt_sentoken/neg'

#Positive and negative file names
pos_review_files=os.listdir(pos_folder)
neg_review_files=os.listdir(neg_folder)

In [4]:
def load_text_from_textfile(path):
    file=open(path,"r")
    review=file.read()
    file.close()
    
    return review

def load_review_from_textfile(path):
    return load_text_from_textfile(path)

In [5]:
def get_data_target(folder_path, file_names, isPos, dataframe):
    dataframe = pd.DataFrame(columns = ['Data', 'Actual'])
    for file_name in file_names:
        full_path = folder_path + "/" + file_name
        review =load_review_from_textfile(path=full_path)
        dataframe = dataframe.append({'Data' : review, 'Actual' : isPos}, 
                ignore_index = True)
    return dataframe

In [6]:
df_pos = pd.DataFrame(columns = ['Data', 'Actual'])

df_pos =get_data_target(folder_path=pos_folder,
               file_names=pos_review_files, isPos = 1, dataframe=df_pos)
print("Positive data read completed...")
print("positive data length:",len(df_pos))

Positive data read completed...
positive data length: 1000

In [7]:
df_pos

                                                  Data Actual
0    films adapted from comic books have had plenty...      1
1    every now and then a movie comes along from a ...      1
2    you've got mail works alot better than it dese...      1
3     " jaws " is a rare film that grabs your atten...      1
4    moviemaking is a lot like being the general ma...      1
..                                                 ...    ...
995  wow ! what a movie . \nit's everything a movie...      1
996  richard gere can be a commanding actor , but h...      1
997  glory--starring matthew broderick , denzel was...      1
998  steven spielberg's second epic film on world w...      1
999  truman ( " true-man " ) burbank is the perfect...      1

[1000 rows x 2 columns]

In [8]:
df_neg = pd.DataFrame(columns = ['Data', 'Actual'])

df_neg = get_data_target(folder_path=neg_folder,
               file_names=neg_review_files, isPos = 0, dataframe=df_neg)
print("Negative data read completed..")
print("negative data length :",len(df_neg))

Negative data read completed..
negative data length : 1000

In [9]:
df_neg

                                                  Data Actual
0    plot : two teen couples go to a church party ,...      0
1    the happy bastard's quick movie review \ndamn ...      0
2    it is movies like these that make a jaded movi...      0
3     " quest for camelot " is warner bros . ' firs...      0
4    synopsis : a mentally unstable man undergoing ...      0
..                                                 ...    ...
995  if anything , " stigmata " should be taken as ...      0
996  john boorman's " zardoz " is a goofy cinematic...      0
997  the kids in the hall are an acquired taste . \...      0
998  there was a time when john carpenter was a gre...      0
999  two party guys bob their heads to haddaway's d...      0

[1000 rows x 2 columns]

In [10]:
# Append Positive and Negative Data 

data = df_pos.append(df_neg)

In [11]:
data

                                                  Data Actual
0    films adapted from comic books have had plenty...      1
1    every now and then a movie comes along from a ...      1
2    you've got mail works alot better than it dese...      1
3     " jaws " is a rare film that grabs your atten...      1
4    moviemaking is a lot like being the general ma...      1
..                                                 ...    ...
995  if anything , " stigmata " should be taken as ...      0
996  john boorman's " zardoz " is a goofy cinematic...      0
997  the kids in the hall are an acquired taste . \...      0
998  there was a time when john carpenter was a gre...      0
999  two party guys bob their heads to haddaway's d...      0

[2000 rows x 2 columns]

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2000 entries, 0 to 999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Data    2000 non-null   object
 1   Actual  2000 non-null   object
dtypes: object(2)
memory usage: 46.9+ KB